body{
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 20px;
}

h1{
    color: darkblue;
}

h2{
    color: darkblue
}

ul{
    background-color: white;
    padding: 10px;
}

img{
    border: 2px solid #ccc;
    border-radius: 10px;
}

a{
    color: green;
    text-decoration: none;
}